<!--  Frequently Asked Questions Section  -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>FAQ's</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  What is web domain and hosting?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse show" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  Which server is best for websites linux or windows?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  Google cloud or Amazon server which one is best and fast?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-4">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  Why Organic SEO is important for all businesses?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

    <!-- Start Pricing Section -->
    <div class="pricing section">
        <div class="container-fluid">
          <div class="container">
            <div class="section-header">
              <h2>Pricing Plans</h2>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="card text-center">
                  <div class="title">
                    <h2>Basic</h2>
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>25</h4>
                  </div>
                  <div class="option">
                    <ul>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited GB Space</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> 30 Domain Names</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free SSL</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Daily Backup</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Templates</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Email</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> 10 Databases</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited Email Address</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Live Support</li>
                    </ul>
                  </div>
                  <a href="#">Order Now</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card text-center">
                  <div class="title">
                    <h2>Standard</h2>
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>50</h4>
                  </div>
                  <div class="option">
                    <ul>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited GB Space</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> 30 Domain Names</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free SSL</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Daily Backup</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Templates</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Email</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> 10 Databases</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited Email Address</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Live Support</li>
                    </ul>
                  </div>
                  <a href="#">Order Now</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card text-center">
                  <div class="title">
                    <h2>Premium</h2>
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>100</h4>
                  </div>
                  <div class="option">
                    <ul>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited GB Space</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> 30 Domain Names</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free SSL</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Daily Backup</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Templates</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Email</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> 10 Databases</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited Email Address</li>
                      <li><i class="bi bi-check-circle" aria-hidden="true"></i> Live Support</li>
                    </ul>
                  </div>
                  <a href="#">Order Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Pricing Section -->
  
  

