{% extends 'master.html' %}
{%load static %}


{% block content %}
 



  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">

    <div id="particles-js"></div>
    <div id="repulse-circle-div"></div>
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-7 offset-lg-5 dark-bg order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h2 data-aos="fade-up">Delivering Superior Services <span>Empowering Businesses with Intelligent AI Automation.</span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h2>
          <p data-aos="fade-up" data-aos-delay="400">
            We specialize in delivering smart, scalable IT solutions enhanced by custom AI automation tools. 
          </p>
          <div class="social" data-aos="fade-up" data-aos-delay="600">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/lavarosolutions/"><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
          <div class="d-flex justify-content-start">
            <a href="{% url 'contact' %}" class="btn-get-started mr-20" data-aos="fade-up" data-aos-delay="800">Get Quotes</a>
            <a href="#services" class="btn-get-started" data-aos="fade-up" data-aos-delay="1000">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
        <!-- Start Service Section -->
        <div id="services" class="section">
          <div class="top-icon-box position-relative">
            <div class="container position-relative">
              <div class="section-header">
                <h2>Services We Offer</h2>
                <p>Smart. Scalable. Custom. Efficient.</p>
              </div>
              <div class="row gy-4">
      
                <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box">
                    <div class="icon"><img src="{% static 'assets/images/icons/service-design.svg' %}" alt="icon"></div>
                    <h4 class="title"><a href="" class="stretched-link">AI Automations</a></h4>
                    <p>Revolutionize your workflow with intelligent AI automation tailored to your business needs.
                      From data processing to predictive analytics, we build custom tools that boost efficiency and reduce manual effort.</p>
                  </div>
                </div>
                <!--End Icon Box -->
      
                <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <div class="icon"><img src="{% static  'assets/images/icons/service-hosting.svg' %}" alt="icon"></div>
                    <h4 class="title"><a href="" class="stretched-link">Application Design</a></h4>
                    <p>
                      We design and develop custom applications from the ground up—combining sleek, intuitive interfaces with robust, scalable architecture to deliver high-performance solutions tailored to your business goals.</p>
                  </div>
                </div>
                <!--End Icon Box -->
      
                <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <div class="icon"><img src="{% static 'assets/images/icons/service-social.svg' %}" alt="icon"></div>
                    <h4 class="title"><a href="" class="stretched-link">Social Media</a></h4>
                    <p>  
                      We help businesses build a strong digital presence through targeted social media strategies. From content creation to analytics and engagement, we manage your channels to grow your brand, connect with your audience, and drive real results.</p>
                  </div>
                </div>
                <!--End Icon Box -->
      
                <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box">
                    <div class="icon"><img src="{% static 'assets/images/icons/service-seo.svg' %}" alt="icon"></div>
                    <h4 class="title"><a href="" class="stretched-link">SEO Optimization</a></h4>
                    <p>
                      Boost your online visibility with our expert SEO services. We optimize your website’s structure, content, and performance to rank higher on search engines—bringing in more traffic, better leads, and measurable growth.</p>
                  </div>
                </div>
                <!--End Icon Box -->
      
      
                <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <div class="icon"><img src="{% static 'assets/images/icons/service-cloud.svg' %}" alt="icon"></div>
                    <h4 class="title"><a href="" class="stretched-link">Cloud Hosting</a></h4>
                    <p>  
                      Reliable, secure, and scalable cloud hosting tailored to your business needs. We provide high-performance server solutions with 24/7 support, ensuring your applications and data are always accessible, fast, and protected.</p>
                  </div>
                </div>
                <!--End Icon Box -->
      
      
                <div class="col-xl-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <div class="icon"><img src="{% static 'assets/images/icons/service-secure.svg' %}" alt="icon"></div>
                    <h4 class="title"><a href="" class="stretched-link">IT Solutions</a></h4>
                    <p>We deliver comprehensive IT solutions and robust hardware, empowering your business with seamless technology.</p>
                  </div>
                </div>
                <!--End Icon Box -->
      
              </div>
            </div>
          </div>
        </div>
        <!-- End Service Section -->
  <!--  Clients Section  -->
  <div id="clients" class="clients section">
    <div class="container" data-aos="zoom-out">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide" ><img src="{% static 'assets/images/clients/client-1.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-2.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-3.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-4.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-5.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-6.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-7.png' %}"  class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'assets/images/clients/client-8.png' %}"  class="img-fluid" alt=""></div>
        </div>
      </div>

    </div>
  </div>
  <!-- End Clients Section -->

        <!-- Featured -->
        <section>
          <div class="container" id="featured">
              <div class="section-header" data-aos="fade-up" data-aos-delay="100">
                <h2>Why Choose Us</h2>
                <p>Deliver smart, reliable IT and AI automation solutions tailored to your business needs.</p>
              </div>
          <div class="row">
            <!-- start  left -->
            <div class="col-md-4 left">
              <div class="list-wrap" data-aos="fade-up" data-aos-delay="100">
                <div class="description">
                  <h4>Experience</h4>
                  <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                  <div class="icon">
                    <img src="{% static 'assets/images/icons/icon-1.svg' %}" alt="icon">
                  </div>
              </div>
              
              <div class="list-wrap" data-aos="fade-up" data-aos-delay="400">
                <div class="description">
                  <h4>Products</h4>
                  <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                  <div class="icon">
                    <img src="{% static 'assets/images/icons/icon-2.svg' %}" alt="icon">
                  </div>
            </div>
              
              
              <div class="list-wrap" data-aos="fade-up" data-aos-delay="500">
                <div class="description">
                  <h4>Approach</h4>
                  <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="icon">
                  <img src="{% static 'assets/images/icons/icon-3.svg' %}" alt="icon">
                </div>
              </div>
            </div>
            <!-- end  left -->
            
            <!-- start  center -->
            <div class="col-md-4 p-4 p-sm-5 center">
              <div class="list-center-wrap" data-aos="fade-up" data-aos-delay="100">
                <div class="center-icon">
                  <img src="{% static 'assets/images/features.jpg' %}" alt="icon">
                </div>
              </div>
            </div>
            <!-- end  center -->
            <!-- start  right -->
            <div class="col-md-4 right">
              <div class="list-wrap" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="{% static 'assets/images/icons/icon-4.svg' %}" alt="icon">
                </div>
                <div class="description">
                  <h4>Pricing</h4>
                  <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
              
              <div class="list-wrap" data-aos="fade-up" data-aos-delay="200">
                <div class="icon">
                  <img src="{% static 'assets/images/icons/icon-5.svg' %}" alt="icon">
                </div>
                <div class="description">
                  <h4>Delivery</h4>
                  <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              
              
              <div class="list-wrap" data-aos="fade-up" data-aos-delay="500">
                <div class="icon">
                  <img src="{% static 'assets/images/icons/icon-6.svg' %}" alt="icon">
                </div>
                <div class="description">
                  <h4>Support</h4>
                  <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <!-- end  right -->
          </div>
          
        </div>
    </section>
    <!-- Featured -->


    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>A showcase of innovative IT solutions and custom AI automation tools we've delivered across various industries.</p>
        </div>
        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">AI Automation</li>
              <li data-filter=".filter-product">App Development</li>
              <li data-filter=".filter-branding">Branding</li>
              <li data-filter=".filter-books">It Solutions</li>
            </ul><!-- End Portfolio Filters -->
          </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                AI Tools for Executive and Personal Assistants
                <a href="{% static 'assets/images/portfolio/product-1.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/images/portfolio/product-1.jpg' %}" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                AI Tools for CX Experinces
                <a href="{% static 'assets/images/portfolio/product-2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/images/portfolio/product-2.jpg' %}" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/images/portfolio/product-3.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/images/portfolio/product-3.jpg' %}" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/images/portfolio/product-4.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/images/portfolio/product-4.jpg' %}" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/images/portfolio/product-5.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/images/portfolio/product-5.jpg' %}" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/images/portfolio/product-6.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/images/portfolio/product-6.jpg' %}" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->
          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

  

    <!--  Testimonials Section  -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="{% static 'assets/images/testimonials/testimonial-1.jpg' %}" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Jhone Doe</h3>
                      <h4>CFO</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="{% static 'assets/images/testimonials/testimonial-2.jpg' %}" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Afa Rose</h3>
                      <h4>Web Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="{% static 'assets/images/testimonials/testimonial-3.jpg' %}" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Keena Lara</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="{% static 'assets/images/testimonials/testimonial-4.jpg' %}" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Fizzi Brandon</h3>
                      <h4>Freelancer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End Testimonials Section -->

    <!--  Start Counter Section  -->
    <div id="stats-counter" class="call-to-action stats-counter section">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4 align-items-center">
          <div class="col-lg-4">
            <div class="stats-item d-flex flex-column align-items-center">
              <div class="icon circle"><img src="{% static 'assets/images/icons/happy-clients.svg' %}" alt="icon"></div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><span>Happy Clients</span> consequuntur quae diredo</p>
            </div><!-- End Stats Item -->
            </div>
            <div class="col-lg-4">
            <div class="stats-item d-flex flex-column align-items-center">
              <div class="icon circle"><img src="{% static 'assets/images/icons/complete-projects.svg' %}" alt="icon"></div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><span>Completed Projects</span> adipisci atque quia aut</p>
            </div><!-- End Stats Item -->
            </div>
            <div class="col-lg-4">
            <div class="stats-item d-flex flex-column align-items-center">
              <div class="icon circle"><img src="{% static 'assets/images/icons/hours-support.svg' %}" alt="icon"></div>
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><span>Hours Of Support</span> aut commodi quaerat</p>
            </div><!-- End Stats Item -->
          </div>
        </div>
      </div>
    </div>
    <!--  End Counter Section  -->

  

    <!--  Our Team Section  -->
    <section id="team" class="team sections-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>Team</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/images/team/team-1.jpg' %}" class="img-fluid" alt="">
              <h4>Jhone Bi</h4>
              <span>Application Manager</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/lavarosolutions/"><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/images/team/team-2.jpg' %}" class="img-fluid" alt="">
              <h4>Sani Awesome</h4>
              <span>Social Media</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/lavarosolutions/"><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/images/team/team-3.jpg' %}" class="img-fluid" alt="">
              <h4>Andrio Willi</h4>
              <span>Content Writer</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/lavarosolutions/"><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'assets/images/team/team-4.jpg' %}" class="img-fluid" alt="">
              <h4>Afa Jonson</h4>
              <span>Business Manager</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/lavarosolutions/"><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section>
    <!-- End Our Team Section -->


    

    <!--  Call To Action Section  -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center aos-init aos-animate" data-aos="zoom-out">
         <div class="row gy-4">
          <div class="col-lg-12">
              <h3>Let's Discuss your Projects</h3>
              <p>We pride ourselves with our ability to perform and deliver results. Use the form below to discuss your project needs with our team, we will get back asap</p>
              <a class="cta-btn" href="mailto:info@example.com">Conatct Us</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Call To Action Section -->


    <!--  Recent Blog Posts Section  -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Blogs</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4">
            <article>
              <div class="post-img">
                <img src="{% static 'assets/images/blog/blog-1.jpg' %}" alt="" class="img-fluid">
              </div>
              <p class="post-category">Domain & Hosting</p>
              <h2 class="title">
                <a href="blog-details.html">How to host website on any hosting provider?</a>
              </h2>
              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">William Bla</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Feb 1, 2022</time>
                  </p>
                </div>
              </div>
            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>
              <div class="post-img">
                <img src="{% static 'assets/images/blog/blog-2.jpg' %}" alt="" class="img-fluid">
              </div>
              <p class="post-category">Advertisement</p>
              <h2 class="title">
                <a href="blog-details.html">How to create add on google adwords?</a>
              </h2>
              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">Jobi Ret</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Oct 5, 2022</time>
                  </p>
                </div>
              </div>
            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>
              <div class="post-img">
                <img src="{% static 'assets/images/blog/blog-3.jpg' %}" alt="" class="img-fluid">
              </div>
              <p class="post-category">Marketing</p>
              <h2 class="title">
                <a href="blog-details.html">What is digital marketing and why is important?</a>
              </h2>
              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">Main Dow</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Dec 22, 2022</time>
                  </p>
                </div>
              </div>
            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- Start Contact Section -->
    <div id="contact" class="contact-section section">
      <div class="section-header">
        <h2>Contact Us</h2>
        <p>Get in touch to discover how our IT and AI automation solutions can transform your business.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12" data-aos="fade-right">
            <div class="contact-information-box-3">
              <div class="row">
                <div class="col-lg-12">
                  <div class="single-contact-info-box">
                    <div class="contact-info">
                      <h6>Address:</h6>
                      <p>6 Gamal Saleem St,From Mosadq St,</p>
                        
                      <p> El Dokki
                        Giza,Egypt</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="single-contact-info-box">
                    <div class="contact-info">
                      <h6>Follow Us:</h6>
                      <p>
                        <a href="https://facebook.com/yourpage" target="_blank" style="color: red;">
                          <i class="bi bi-facebook"></i> Facebook
                        </a><br>
                        <a href="https://twitter.com/yourhandle" target="_blank" style="color: red;">
                          <i class="bi bi-twitter"></i> Twitter
                        </a><br>
                        <a href="https://instagram.com/yourprofile" target="_blank" style="color: red;">
                          <i class="bi bi-instagram"></i> Instagram
                        </a><br>
                        <a href="https://linkedin.com/company/yourcompany" target="_blank" style="color: red;">
                          <i class="bi bi-linkedin"></i> LinkedIn
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12" data-aos="fade-left">
            <div class="contact-form-box contact-form contact-form-3">
              <div class="form-container-box">
                <form class="contact-form form" id="ajax-contact" method="post" action="assets/phpscripts/contact.php">
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-input-box">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Name*"
                            required="required" data-error="Name is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-input-box">
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email*"
                            required="required" data-error="Valid email is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group form-input-box">
                          <input type="text" class="form-control" name="subject" placeholder="Subject"
                            required="required">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group form-input-box">
                          <textarea class="form-control" id="message" name="message" rows="7"
                            placeholder="Write Your Message*" required="required"
                            data-error="Please, leave us a message."></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" data-text="Send Message">Send Message</button>
                      </div>
                      <div class="messages">
                        <div class="alert alert alert-success alert-dismissable alert-dismissable hidden"
                          id="msgSubmit"><button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">&times;</button> Thank You! your message has been sent. </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Section -->


  </main><!-- End #main -->

{% endblock %}